@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
}

@theme {
  --font-*: initial;
  --color-primary : #5FA28F;
  --color-primary-muted : #77CBB3;
  --color-text-primary :#0E1E38;
  --color-text-muted:#767A82;
  --color-border:#E3E8EF;
  --color-current: currentColor;
  --color-transparent: transparent;
}
