@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
}

@theme {
  --font-*: initial;
  --color-primary: #5fa28f;
  --color-primary-muted: #77cbb3;
  --color-text-primary: #0e1e38;
  --color-text-muted: #767a82;
  --color-border: #e3e8ef;
  --color-current: currentColor;
  --color-transparent: transparent;
}

.slick-dots {
  position: absolute;
  bottom: -64px !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.slick-dots li.slick-active button {
  background-color: #5fa28f !important;
}

.slick-dots li button {
  width: 12px !important;
  height: 12px !important;
  border: none !important;
  border-radius: 50%;
  background-color: #7585993d !important;
}

.slick-dots li button::before {
  content: "" !important;
}
